<h1>Edit Review for <%= link_to @movie.title, @movie %> </h1>
<%= render "reviews/reviewform" %>
<%# NOTE: I threw the shared error partial in the reviewform partial %>
<section class = "admin">
<%= link_to "Delete Review", [@movie, @review], class: "button-delete", method: :delete, 
        data: { confirm: 'Delete Review?!' } %>
</section>
